.tags-input {
  width: 100%;
  border-radius: 2px;
  display: inline-block;
}

.tags-input input {
  --tw-ring-shadow: 0 0 #000 !important;
  width: 100%;
  background-color: transparent;
  border: 0;
  padding: 10px 0px;
  border-bottom: 1px solid theme('colors.border.gray');
  box-shadow: none;
  outline: none;
}

.tags-input input:focus {
  border-bottom: 1px solid theme('colors.primary.dark');
}

.tags-input input::placeholder {
  color: theme('colors.border.gray');
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  background: #eee;
  font-size: 16px;
  padding: 5px 11px;
  margin: 5px 5px 5px 5px;
  cursor: default !important;
  background-color: theme('colors.primary.lighter');
  color: theme('colors.primary.dark');
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.tag-title {
  margin-top: 3px;
}
.tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #0052cc;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 567px) {
  .tags-input {
    width: calc(100vw - 32px);
  }
}
