@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');
@import 'tailwindcss';

* {
  font-family:
    'Toss Product Sans',
    Roboto,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ededed;
  min-width: 320px;
}

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 600px;
  --breakpoint-laptop: 1200px;
  --breakpoint-desktop: 1536px;

  --color-primary-dark: #1f4ef5;
  --color-primary-main: #4880ee;
  --color-primary-light: #83b4f9;
  --color-primary-lighter: #ecf3fe;
  --color-primary-gray: #c2d0e5;
  --color-border-gray: #d9d9d9;
  --color-border-gray2: #cdcdcd;
  --color-error-main: #ff1a43;
  --color-error-light: #ff1a43;
  --color-error-lighter: #ff1a43;
  --color-column-main: #f1f6f7;
  --color-text-main: #1a1e27;
  --color-text-light: #505866;
  --color-text-lighter: #b1b8c0;
  --color-table-column: #f1f6f7;
}

@media (max-width: 600px) {
  body {
    background-color: #ffffff;
  }
}

@layer components {
  .table-header-title {
    @apply text-[24px] font-[700] text-text-light;
  }

  .clickable {
    @apply cursor-pointer flex justify-center items-center p-[6px] rounded-lg hover:bg-[#f5f5f5];
  }
  .tablet-card {
    @apply tablet:!rounded-none max-tablet:shadow-none max-tablet:bg-transparent;
  }
  .truncate-text {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }

  .table-is-checked {
    @apply bg-primary-lighter text-text-light;
  }
  .input-style {
    @apply pl-[0] indent-0 border-0 border-b-[1px] border-border-gray focus:border-primary-dark focus:ring-0 placeholder:text-border-gray focus:outline-none;
  }
}
